<div id="container-instructions">

  <h1><b>Instructions</b></h1>

    <div class="instructions well">

        <h3>
	When the game starts, your character is in a waiting area. Select a queue with the up and down arrow keys. Enter the queue with the left arrow key.
</h3>

	<img id="imgInstruct" src="{{ server_location }}/static/images/Board_p5.png" alt="Game Board"/>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

     <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
