<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
	The object of the game is to accrue as many points as possible. These points will then be translated into bonus pay at the end of the game.
        </p>
	<p>
	Each line has a point value assigned. You only receive points when you reach the beginning of a line. At this point you will receive all of the points assigned to that particular line.
	</p>

	<p>
	As you progress in the line a green number will appear to the right of your score. This is an estimate of how many points you are gaining with each move forward. However, you must still wait to finish the line until your receive the points.
	</p>

        <p>
	You are now ready to begin playing.
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
