<div id="container-instructions">

    <h1>Instructions</h1>

    <div class="instructions well">

        <h4>
	Each time you move, you will see an estimate of how many points you will score for that move, assuming you get to the front of the line.
        </h4>

	<img id="imgInstruct" src="{{ server_location }}/static/images/LineWaitingInstructions_noEstimate.png" alt="Game Board"/>
	
        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

     <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
