<div id="container-instructions">

    <h1>Instructions</h1>

    <div class="instructions well">

        <h2>
	You will play for 5 minutes, and at the end of the HIT you will receive a cash bonus based on your score. You may earn as much as $0.20 in bonus.
</h2>

	<img id="imgInstruct" src="{{ server_location }}/static/images/Board_p4.png" alt="Game Board"/>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

     <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
