<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
	The premise is simple: You navigate your character (the red colored person) to successfully make it to the front of a line using the arrow keys.
        </p>

        <p>
	You start on the right hand side and move to the front of the line on the left. After choosing your line push the left key to enter the queue.
        </p>

	<p>
	You must continue to press the left arrow key to move up in the line whe a spot opens up. If you wait too long the customers behind you will take your spot.
	</p>

	<p>
	If at any time you wish to change lines simply use the up or down arrow keys to jump between lines.
	</p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
